body {
	margin: 0;
	padding: 0;
	background-color: #dfdbf9;
	font-family: 'Comic Neue', 'Courier New', cursive, sans-serif;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
}

main {
	text-align: center;
	margin-top: 2rem;
}

canvas {
	margin-top: 3rem;
	border: 3px solid black;
	border-radius: 16px;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 1.8rem;
	margin: 0.2em 0;
	color: #000;
}

p {
	font-size: 1rem;
	color: #333;
}

.instructions {
	max-width: 500px;
	margin-top: 2rem;
	font-size: 0.95rem;
	color: #444;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 1rem 1.2rem;
	border-radius: 12px;
	text-align: center;
	font-family: 'Courier New' 'Comic Neue', cursive, sans-serif;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
}
